.Services {
  width: 100%;
}

.services-top {
  margin-top: 5rem;
  margin-left: 4rem;
}

.services-top span {
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  background: var(--primary-color);
  -webkit-background-clip: text;
  color: transparent;
}

.services-top h1 {
  font-size: 2.5em;
  color: var(--text-color-main);
}

.service-content {
  width: 95%;
  margin: 2rem auto;
  margin-bottom: 10px;
  padding: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--text-color-main);
}

.service-title {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: circle;
  color: white; /* Default color for non-active titles */
}

.service-title.active {
  background: var(--primary-color);
  -webkit-background-clip: text;
  color: transparent;
}

.service-image {
  width: 400px;
  height: auto;
  border-radius: 8px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-description {
  margin-top: 10px;
  font-size: 15px;
  color: #ccc;
  text-align: center;
  font-weight: 300;
}

/* Media Queries */
@media (max-width: 1200px) {
}
@media (max-width: 768px) {
  .services-top {
    margin-top: 7rem;
    margin-left: 2rem;
  }

  .services-top span {
    font-size: 14px;
  }

  .services-top h1 {
    font-size: 2.2em;
  }
  .service-image {
    width: 380px;
    height: auto;
    border-radius: 8px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .services-top {
    margin-top: 7rem;
    margin-left: 2rem;
  }

  .services-top span {
    font-size: 12px;
  }

  .services-top h1 {
    font-size: 2em;
  }

  .service-image {
    width: 350px;
    height: auto;
    border-radius: 8px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
